{% extends "_bases/base.jinja2" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/' + cls.get_internal_name() + '.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="container">
        {% block inner_content %}{% endblock %}
    </div>

    <div class="is-hidden" id="loading-overlay"></div>

    <script type="text/javascript" charset="utf-8">
        {% block script %}{% endblock %}

        const socket = io('/match')
        const playerListEl = document.getElementById('player-list-container')
        const loadingOverlayEl = document.getElementById('loading-overlay')

        socket.on('connect', () => {
            console.log(`WS connected as ${socket.id}`)
            socket.emit('join', '{{ match.match_id }}')
        })
        socket.on('players_change', (data) => {
            console.log('players changed, updating view')
            playerListEl.innerHTML = data.view
        })
        socket.on('state_change', ({ view }) => {
            console.log('state changed, updating view')
            handleStateChange(view)
            loadingOverlayEl.classList.add('is-hidden')
        })
        socket.on('finished', () => {
            console.log('match finished, navigating to results...')
            window.location.href = '/match/{{ match.match_id }}/results'
        })

        function emitPlay(data, triggerEl) {
            loadingOverlayEl.classList.remove('is-hidden')
            triggerEl.disabled = true  {# we don't need to care to re-enable it as the view is going to be replaced #}
            socket.emit('play', data)
        }
    </script>
{% endblock %}
