<div class="players-list">
    {% for player in match.players %}
    <div class="player">
        <div class="picture" style="background-image: url('{{ player.avatar_url }}')"></div>
        <div class="player-name ellipsis-text" style="color: {{ player.color }};" title="{{ player.name }}">
            {{ player.name }}
        </div>
        <div class="player-info">
            <div class="player-tags">
                {% for tag in match.get_player_tags(player) %}
                    <i class="las la-{{ tag }}"></i>
                {% endfor %}
            </div>
            <div class="points">{{ match.get_current_points(player) }}</div>
        </div>
    </div>
    {% endfor %}

    {#
        <div class="player">
            <div class="picture" style="background-image: url('http://avatars.adorable.io/assets/img/demo-bg.jpg')">
                <svg class="crown" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 48 48"
                     preserveAspectRatio="none">
                    <path style=" fill:#FFB407;" d="M 36 36 L 12 36 L 7 16 L 17 24 L 24 11 L 31 24 L 41 16 Z "/>
                    <path style=" fill:#FF9800;" d="M 12 36 L 36 36 L 36 41 L 12 41 Z "/>
                </svg>
            </div>
            <div class="name" style="color: #FF9100;">X</div>
            <div class="tags"></div>
            <div class="points">7</div>
        </div>
    #}

</div>
