<div class="cards" style="--primary-color: {{ czar_color }}">

    <div class="deck czar-deck">
        {% for ps in round_player_states %}
            <div class="card">
                <div class="card-content scrollable">
                    <div>{{ ps.selected_card.text }}</div>
                </div>
                <div class="overlay">
                    {% if is_czar %}
                        <button onclick="emitPlay({'action':'czar_select', 'card_no': {{ loop.index - 1 }}}, this)"
                                class="button is-primary"
                        >
                            <span class="icon">
                                <i class="las la-trophy"></i>
                            </span>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_czar %}
        <div class="deck czar-deck">
            <button onclick="emitPlay({'action':'czar_select_none'}, this)" class="button is-danger has-tooltip-right"
                data-tooltip="{{ _('no_card_deserves_to_win') }}"
            >
                <img class="flip" src="{{ url_for('static', filename='media/flip.svg') }}">
            </button>
        </div>
    {% endif %}

</div>
