{% from "games/cah/partials/card-hand.jinja2" import render_card_hand %}

<div class="cards">
    {{ render_card_hand(
        player_state.hand,
        None,
        false,
        true,
        (player_state.hand | length) > 0,
        0
    ) }}
</div>
