{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('new_elect_title') }}{% endblock %}

{% block content %}
    <h1 class="title is-2">
        {{ _('new_elect_title') }}
    </h1>

    <form method="post" id="form">
        <h2 class="title is-5">
            {{ _('match_settings') }}:
        </h2>
        <div>
            <input id="pointsToWin" name="pointsToWin" type="text" v-model="pointsToWin" placeholder=" ">
            <label for="pointsToWin">{{ _('points_to_win') }}</label>
        </div>
        <div class="buttons is-right">
            <button class="button is-primary is-flex-end" :disabled="!valid">
                <span>{{ _('start_button') }}</span>
                <span class="icon">
                    <i class="las la-angle-double-right"></i>
                </span>
            </button>
        </div>
        <div class="notification is-danger error-list" v-show="!valid">
            <ul>
                <li v-show="!pointsValid">
                    {{ _('points_needs_to_be_gt_one') }}.
                </li>
            </ul>
        </div>
    </form>

    <script>
        const app = new Vue({
            el: '#form',
            data: {
                pointsToWin: '10',
            },
            computed: {
                pointsValid () {
                    return parseInt(this.pointsToWin) > 1
                },
                valid () {
                    return this.pointsValid
                }
            },
        })
    </script>
{% endblock %}
