<div>
    <div class="actions-list">
        <div>
            {{ _('select_player_for_vote') }}
        </div>

        {% for player in players %}
            <div class="button is-dark"
                    onclick="emitPlay( { 'action':'vote_selected', 'index':{{ loop.index0 }} }, this )"
            >
                <div class="player">
                    <div class="picture" style="background-image: url('{{ player.avatar_url }}')"></div>
                    <div class="player-name ellipsis-text" style="color: {{ player.color }};" title="{{ player.name }}">
                        {{ player.name }}
                    </div>
                </div>
                {% if voted_for and voted_for.discord_id == player.discord_id %}
                    <i class="las la-check"></i>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
