{% extends "_bases/menu.jinja2" %}

{% block title %}{{ _('new_SOS_title') }}{% endblock %}

{% block content %}
    <style>
        #decksList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        #decksList .field:not(:last-child) {
            margin-right: 5ex;
        }
    </style>

    <h1 class="title is-2">
        new Spillage or Shots match
    </h1>

    <form method="post" id="form">
        <h2 class="title is-5">
            {{ _('deck_selection') }}:
        </h2>

        <div id="decksList">
            {% for deck in decks %}
                <div class="field" style="--primary-color: #{{ deck.colour }};">
                    <input
                        name="selectedDecks" type="checkbox" class="switch is-outlined" checked
                        id="deck-{{ loop.index - 1 }}" value="{{ loop.index - 1 }}"
                        @change="deckSelectionChanged"
                    >
                    <label for="deck-{{ loop.index - 1 }}">
                        {{ deck.name }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <button class="button is-primary is-flex-end" :disabled="!decksValid">
            <span>{{ _('start_button') }}</span>
            <span class="icon">
                <i class="las la-angle-double-right"></i>
            </span>
        </button>
        <div class="notification is-danger error-list" v-show="!decksValid">
            <ul>
                <li>
                    {{ _('at_least_one_deck_needs_to_be_selected') }}.
                </li>
            </ul>
        </div>

    </form>

    <script>
        const app = new Vue({
            el: '#form',
            data: {
                selectedDecksCount: {{ decks | length }}
            },
            computed: {
                decksValid () {
                    return this.selectedDecksCount > 0
                },
            },
            methods: {
                deckSelectionChanged (event) {
                    this.selectedDecksCount += event.target.checked ? 1 : -1
                }
            }
        })
    </script>
{% endblock %}
