.checkbox-radio-group input[type="radio"]
    display: none

    &+ label
        &::before
            margin-left: 17px
            font-family: Line Awesome Free
            font-weight: 900
            font-size: 32px

        span
            position: relative
            top: -5px
            margin-right: 17px

    &:not(:checked) + label::before
        content: "\f04d" // la-box

    &:checked + label::before
        content: "\f14a" // la-check-square
        color: var(--primary-color)
