/**
  * taken from
  *     https://codepen.io/jpanter/pen/PWWQXK
  */
    
$size: 12px
$time: 3


.spinner
    display: flex
    flex-direction: column
    align-items: center

    margin-bottom: 1.5rem
   
    .row
        display: flex
    
    .arrow
        width: 0 
        height: 0
        margin: 0 (-$size / 2)
        border-left: $size solid transparent
        border-right: $size solid transparent
        border-bottom: ($size * 1.8) solid $primary
        animation: spinner $time + s infinite
            
        &.down
            transform: rotate(180deg)

        @for $i from 1 through 18
            &.outer-#{$i}
                animation-delay: -($time / 18) * $i + s

        @for $i from 1 through 6
            &.inner-#{$i}
                animation-delay: -($time / 6) * $i + s


@keyframes spinner 
  0% 
      opacity: 0.1
  30% 
      opacity: 1
  100% 
      opacity: 0.1
